/* Original Styles Above */

/* Media Queries */
@media only screen and (max-width: 1200px) {
    section {
        padding: 3rem 5rem;
    }
}

@media only screen and (max-width: 992px) {
    .header-content {
        grid-template-columns: 1fr;
        padding: 3rem;
        .left-header {
            .h-shape {
                width: 100%;
            }
            .image {
                width: 100%;
                margin-left: 0;
            }
        }
        .right-header {
            padding-right: 0;
        }
    }
}

@media only screen and (max-width: 768px) {
    section {
        padding: 3rem;
    }
    .controls {
        right: 5%;
    }
}

@media only screen and (max-width: 600px) {
    .header-content {
        .left-header {
            .image {
                margin-left: 0;
                width: 100%;
            }
        }
        .right-header {
            padding-right: 0;
        }
    }
    .controls {
        display: none;
    }
}

/* Add more media queries as needed */

/* Original Styles Below */
