@media (min-width: 317) and (max-width: 407) {
    .right-header{
        margin: none;
        .name{
            font-size: 2rem !important;
        }
        p{
            font-size: 1rem !important;
        }
    }
    
}


@media (min-width: 440px) and (max-width: 563px) {
    .show-on-mob{
      transform: translateY(28%);
    }
    .left-header .image{
        transform: scale(1.4) !important;
    }
}
    
    @media (min-width: 563px) and (max-width: 768px) {
        .show-on-mob{
          transform: translateY(28%);
        }
        .left-header .image{
            transform: scale(1.4) !important;
            img{
                object-fit: contain !important;
            }
        }
      }

   
     
    
    
     
  


@media screen and (max-width: 768px) {
  
    
section{
   
    padding: 3rem 1rem; //top-bottom left-right
}

.separate span { color: var(--color-secondary);
           
            margin: 0%;
            padding: 0;
            
        }  
        
        .separate .design{
        position: absolute;
        transform: translate(-50%, -46.5%);
        font-weight: 700;
        font-size: 3rem;
        display: block;
        
        justify-content: center;
        left: 50%;



    }
    
  
.light-mode .left-header .image{
    background-color: #C4A484;
}



    header{
        padding: 0 !important;
    }
      
    .theme-btn{
        position: fixed;
        width: 50px;
        height: 50px;

    }

  

    .header-content{
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 6rem;
    }

    .left-header{
         
         transform: scaleY(1);   
         height: 100%;
         color: white;


        .h-shape{
            display: none;
        }
        .image{
            transform: scale(1.2);   
            position: relative;
            margin: 0 auto !important;
            width: 100% !important;
           
         img{
            filter: grayscale(0%) !important;
            object-position: top !important;

        }
    }
        .show-on-mob{
            display: inline !important;
            position: relative;
            padding: 20px !important;
            
            .name1{
                font-size: 1.5rem !important;
                padding-top: 10rem;
                span{
                    color: var(--color-secondary);
                }
            }
            p{
                padding-bottom: 10px;
            }
        
        }
    
    }

    .separate .design{
        display: none;
    }

    .right-header{
        display: none !important;
    }
    
   /* .right-header{
        position: absolute;
        padding-right: 0rem !important;
        width: 100%;
        transform: translateY(65%);
       // margin-left: 20px !important ;
        padding: 0 20px !important ;
          .name{
              font-size: 20px !important;
        //    text-align: center;
            padding-top: 3rem;
            margin: none;
            padding-bottom: 0%;
        }
        p{
            font-size: 14px !important;
            margin: 0.5rem 0rem !important;

        }
        .hide-on-Desktop{
            display: inline !important;
        }

        .hide-on-Mobile{
            display: none !important;
        }
    }*/


    

 /*   .light-mode .right-header{

        color: #FFF;
    }*/

    .controls{
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-black);
        position: fixed;
        .control{
            margin: 1rem .3rem;
        }
    }

    .about-container{
        display: flex;
        flex-direction: column;
        .right-about{
          //  display: flex;
           // flex-direction: column;
            padding-top: 2.5rem;
            grid-template-columns: repeat(2, 1fr) !important;
            grid-gap: 10px;
            .about-item .abt-text .large-text{
                font-size: 1.5rem;
                .small-text{
                    font-size:1rem;
                }

        }

        }
        .left-about{
            padding-right: 0;
            p{
                padding-left: 0;
            }
        }
    
    }



 

    .about-stats{
        .progress-bars{
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .timeline{
        margin-bottom: 6rem;
    }

    .portfolios{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        margin-bottom: 6rem;
    }

    .blogs{
        display: flex;
        flex-direction: column;
        margin-bottom: 6rem;
        }

    .contact-content-container{
        flex-direction: column;
        .right-contact{
            margin-left: 0;
            margin-top: 2.5rem;
        }
        
    }
    .contact-content-container .right-contact{
        flex-direction: column;
        margin-bottom: 6rem;

    }


    .contact-item{
        flex-direction: column;
        margin: 1rem 0;
        p{
            font-size: 15px;
            color: var(--color-grey-2);
        }
        span{
            font-size: 15px;
        }
        .icon{
            grid-template-columns: 25px 1fr;
        }
    }


    .main-title{
        h2{
            font-size: 2rem;
            span{
                font-size: 2rem;
            }
            .bg-text{
                display: none;
            }
        }
    }
}


@media screen and (min-width: 769px) and (max-width: 1115px) {
  
    
    section{
       
        padding: 3rem 4rem; //top-bottom left-right
    }
    
        header{
            padding: 0 !important;
        }
          
        .right-header{
            padding-right: 6rem !important;
            width: 100%;
            margin: none;
            .name{
                font-size: 2rem !important;
            }
            p{
                font-size: 1rem !important;
            }
        }
     
    
         .sec2{
            padding-right: 7rem !important;
        }

        .sec3{
            padding-right: 7rem !important;
        }

        .sec4{
            padding-right: 7rem !important;
        }

        .sec5{
            padding-right: 7rem !important;
        }

        .about-container{
            display: flex;
            flex-direction: column;
          .left-about{
            padding-right: 0% !important;
          }
            .right-about{

            padding-top: 2rem;     

       }
        }
    
    
    
     
    
        .portfolios{
            grid-template-columns: repeat(2, 1fr);
            margin-top: 1rem;
        }
    
        .blogs{
            grid-template-columns: repeat(2, 1fr);
        }
    
        .contact-content-container{
            .left-contact{
                padding-right: 2rem;
            }
            .right-contact{
                margin-left: 0;
                margin-top: 2.5rem;
            }
            
        }
    
    
        .main-title{
            h2{
                font-size: 2rem;
                span{
                    font-size: 2.3rem;
                }
                .bg-text{
                    font-size: 3rem;
                }
            }
        }
    }
